@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
  display: flex;
  width: max-content;
  animation: infinite_scroll 15s linear infinite;
  gap: 0.5rem; /* Add some gap between items */
}

.scroller__inner:hover {
  animation-play-state: paused;
}
